*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    border: 1px solid red;
    margin: auto;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mt-100{
    margin-top: 100px;
}

.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.pt-40{
    padding-top: 40px;
}
.pb-40{
    padding-bottom: 40px;
}

.d-flex{
    display: flex;
}
.j-center{
    justify-content: center;
}
.j-between{
    justify-content: space-between;
}
.j-end{
    justify-content: end;
}
.j-start{
    justify-content: start;
}
.align-center{
    align-items: center;
}
.align-star{
    align-items: start;
}

.d-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
    height: auto;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    padding: 5px 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
}

.nav-links a:hover {
    color: red;
}

.menu{
    padding: 10px;
}

.menu button{
     font-size: 30px;
     border: none;
     background-color: transparent;
}

.main_banner{
    width: 100%;
    position: relative;
    padding: 90px 0 75px 0;
    background-image: url(img/slider-bg.jpg);
    height: 90vh;
    background-size: cover;
    object-fit: cover;
    object-position: top right;
}

.main_banner h1{
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: "Playfair Display", serif;
    line-height: 70px;
    color: #002c3e;
}

.main_banner h1 span{
    color: #f7444e;
}

.main_banner p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 24px;
}

.btn-box1 a{
    display: inline-block;
    padding: 12px 45px;
    background-color: #f7444e;
    border: 1px solid #f7444e;
    color: #ffffff;
    border-radius: 0;
    transition: all 0.3s;
    margin-top: 10px;
    font-weight: 700;
    text-decoration: none;
}

.btn-box1 a:hover {
    background-color: transparent;
    color: #f7444e;
}


.main_slider .slick-dots{
    width: fit-content !important;
    bottom: -75px !important;
    left: 100px;
}

.main_slider .slick-dots li button:before{
   color: white !important;
   font-size: 20px !important;
}

.main_slider .slick-dots li.slick-active button:before{
    color: tomato !important;
    font-size: 25px !important;
}

.heading_container h2 {
    position: relative;
    margin-bottom: 0;
    font-size: 56px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #0c0c0c;
}

.box{
    text-align: center;
    margin-top: 45px;
    background-color: #002c3e;
    padding: 45px 50px;
    border-radius: 5px;
    color: #ffffff;
    font-family:"Montserrat", serif;
}

.box .img {
    margin: 0px 0px 30px;
}

.box .img i {
    width: 55px;
    height: auto;
    fill: #ffffff;
    font-size: 36px;
}

.text-box h5 {
    font-family:"Montserrat", serif;
    font-size: 21px;
    font-weight: 700;
    margin: 0px 0px 25px;
}

.text-box p {
    font-family:"Montserrat", serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0px 0px 18px;
}

.arrival_section {
    background-color: #d4ced0;
}

.box1 {
    position: relative;
}

.arrival_bg_box {
   
    width: 100%;
    height: 100%;
    z-index: 1;
}

.arrival_bg_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
}

.heading h2 {
    margin-bottom: 0;
    font-size: 56px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    color: #002c3e;
}

.heading p{
    font-family: 'Montserrat', sans-serif;
    color: #0c0c0c;
    font-size: 16px;
    margin-top:20px;
    margin-bottom:30px;
}

.layout_padding {
    padding: 70px 0;
}

.heading_container {
    margin-bottom: 20px;
}

.heading_container.heading_center {
    align-items: center;
    text-align: center;
}

.heading_container h2 {
    position: relative;
    margin-bottom: 0;
    font-size: 56px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.heading_container h2 span {
    color: #f7444e;
}

.box2 {
    position: relative;
    margin-top: 25px;
    padding: 35px;
    background-color: #f7f8f9;
    transition: all .3s;
    overflow: hidden;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, .2);
    border: 10px solid #fff;
}

.option_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
    transform: translateY(100%);
}

.options a {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 30px;
    width: 165px;
    text-align: center;
    transition: all .3s;
    margin: 5px 0;
}

.option1:hover {
    background-color: transparent;
    color: #f7444e;
    border: 1px solid #f7444e;
}

.option2:hover {
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
}

.box2 .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 215px;
}

.box2 .img-box img {
    max-width: 100%;
    max-height: 160px;
    transition: all .3s;
}

.box2 .detail-box {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.box2 .detail-box h5 {
    font-family:"Montserrat", serif;
    font-size: 18px;
    margin: 10px 0px 8px;
    font-weight: 700;
    line-height: 1.2;
}

.box2 .detail-box h6 {
    margin: 10px 0px 8px;
    color: #002c3e;
    font-weight: 600;
    font-size: 16px;
    font-family:"Montserrat", serif;
}

.btn-box {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.btn-box a {
    display: inline-block;
    padding: 10px 40px;
    background-color: #f7444e;
    border: 1px solid #f7444e;
    color: #ffffff;
    border-radius: 0;
    text-decoration: none;
    transition: all 0.3s;
    font-family:"Montserrat", serif;
}

.btn-box a:hover {
    background-color: transparent;
    color: #f7444e;
}

.subscribe_section {
    text-align: center;
}

.box3{
    background-color: #d4ced0;
    padding: 75px 45px;
}

.subscribe_section .subscribe_form .heading_container {
    justify-content: center;
    color: #002c3e;
}

.heading_container.heading_center {
    align-items: center;
    text-align: center;
}

.heading_container.heading_center h3 {
    position: relative;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    margin: 0px 0px 15px;
}

.heading_container.heading_center p{
    font-family:"Montserrat", serif;
    color: #0c0c0c;
    font-size: 16px;
    margin: 0px 0px 16px;
}

.subscribe_form form input {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 90px;
    outline: none;
    padding: 5px 25px;
    background-color: #ffffff;
    margin-top: 15px;
    text-align: left;
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: normal;
}

.subscribe_form form button {
    display: inline-block;
    padding: 10px 45px;
    background-color: #f7444e;
    border: 1px solid #f7444e;
    color: #ffffff;
    border-radius: 35px;
    font-size: 16px;
    transition: all 0.3s;
    text-transform: uppercase;
    margin-top: 35px;
    font-weight: 600;
    width: 100%;
    max-width: 285px;
}

.subscribe_form form button:hover{
    background-color: transparent;
    color: #f7444e;
    border: 1px solid #f7444e;
}

.container-slide{
    max-width: 700px;
    border: 1px solid red;
    padding: 10px;
    margin:100px auto;
}


.testimonials{
    text-align: center;
}

.testimonials img{
    display: block;
    margin: auto;
}


.testimonials .slick-next, .slick-prev{
    background-color: red !important;
    padding: 20px  !important;
    border-radius: 50%  !important;
    display: block !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    right:90px !important
}

.testimonials .slick-next{
    right:90px !important
}

.testimonials .slick-prev{
    left:90px !important
}

.testimonials .slick-next::before{
   content: "\2B05" !important;
}

.testimonials .slick-prev::before{
    content: "⬅️" !important;
}


footer {
    background: #f8f8f8;
    padding: 90px 0 70px;
    display: block;
}

.logo_footer {
    margin-bottom: 30px;
    padding: 0px 15px;
}

.information_f p {
    margin-bottom: 19px;
    line-height: 25px;
    font-size: 15px;
    padding: 0px 15px;
}

strong {
    font-weight: bolder;
}

.f_menu {
    float: left;
    width: 100%;
}

.f_menu h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    margin-bottom: 25px;
    padding: 0px 15px;
}

.f_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.f_menu ul li {
    float: left;
    width: 100%;
    padding: 0px 15px;
}

.f_menu ul li a {
    font-size: 16px;
    color: #000;
    margin-bottom: 0;
    float: left;
    width: 100%;
    margin-top: 10px;
    text-decoration: none;
}

.information_f p {
    margin-bottom: 19px;
    line-height: 25px;
    font-size: 16px;
}



.cpy_ {
    background: #222;
    text-align: center;
    padding: 20px 0;
}

.cpy_ p {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.cpy_ p a {
    margin: 0;
    color: #f7444e;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

























